/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
.content_block-1,.section__background-1 {
	padding-top: 20%;
}
.content_block-2 {
	padding-top: 2%;
}
.nav__block {
	padding-top: 10%;
}
.ie-11 {
	padding-top: 15%;
}
.ie-11-2 {
	padding-top: 7%;
}
.footer {
	padding: 0;
}
}*/